<div align="right">

[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/wisaaco/TallerPythonFEE/blob/main/lessons/2/2_Pandas_Modificacio.ipynb)

Si no funciona el botó podeu copiar el següent [enllaç](https://colab.research.google.com/github/wisaaco/TallerPythonFEE/blob/main/lessons/2/2_Pandas_Modificacio.ipynb)
</div>

In [12]:
import pandas as pd

# 4 Modificació
A més de fer seleccions, en alguns moments necessitarem incorporar nova informació a les nostres taules de dades.

In [13]:
df2 = pd.DataFrame([('Foreign Cinema', 'Restaurant', 289.0),
                   ('Liho Liho', 'Restaurant', 224.0),
                   ('500 Club', 'bar', 80.5),
                   ('The Square', 'bar', 25.30)],
           columns=('name', 'type', 'AvgBill')
                 )
df2

             name        type  AvgBill
0  Foreign Cinema  Restaurant    289.0
1       Liho Liho  Restaurant    224.0
2        500 Club         bar     80.5
3      The Square         bar     25.3

## Afegir columnes

Tenim diverses maneres d'afegir columnes a un _dataFrame_:

- Mitjançant el nom de la columna que volem afegir, tal com afegim una clau nova a un diccionari.
- `insert`: és un mètode que necessita 3 paràmetres. La posició on volem afegir la columna (`loc`), el seu nom (`column`) i la llista de valors (`value`).
- `assign`: molt semblant a l'anterior, però permet afegir múltiples columnes.

Vegem-ne alguns exemples:

In [14]:
df2['Day'] = "Monday" # Com un diccionari
df2

             name        type  AvgBill     Day
0  Foreign Cinema  Restaurant    289.0  Monday
1       Liho Liho  Restaurant    224.0  Monday
2        500 Club         bar     80.5  Monday
3      The Square         bar     25.3  Monday

In [15]:
df2['Day'] = ['Monday', 'Tuesday', 'Wednesday', 'Thursday']
df2

             name        type  AvgBill        Day
0  Foreign Cinema  Restaurant    289.0     Monday
1       Liho Liho  Restaurant    224.0    Tuesday
2        500 Club         bar     80.5  Wednesday
3      The Square         bar     25.3   Thursday

In [ ]:
#Emprarem el mètode insert. Indicant on volem inserir aquesta columna amb el paràmetre loc

df2.insert(loc=1, column="Stars", value=[2,2,3,4])
df2

El mètode `assing` permet afegir múltiples columnes en una sola operació. És interessant veure que la columna anomenada _AvgHalfBill_ és el resultat de dividir una columna entre 2.

In [18]:
df3 = df2.assign(AvgHalfBill=df2.AvgBill / 2, Michelin_Star=3)
df3

             name        type  AvgBill        Day  AvgHalfBill  Michelin_Star
0  Foreign Cinema  Restaurant    289.0     Monday       144.50              3
1       Liho Liho  Restaurant    224.0    Tuesday       112.00              3
2        500 Club         bar     80.5  Wednesday        40.25              3
3      The Square         bar     25.3   Thursday        12.65              3

## Afegir files

Per afegir files a un _dataframe_ tenim

- `concat`: concatena dos o més _dataFrames_ separats per comes.

In [36]:
df_files = df2.copy() # Fem una còpia de tota la informació

#Cream un diccionari
fila = {"name":"Isaacs", "type":"bar" ,"AvgBill":[148.2], "Day":"Friday"}

nou_df = pd.concat([df_files, pd.DataFrame(fila)])

In [37]:
nou_df

             name        type  AvgBill        Day
0  Foreign Cinema  Restaurant    289.0     Monday
1       Liho Liho  Restaurant    224.0    Tuesday
2        500 Club         bar     80.5  Wednesday
3      The Square         bar     25.3   Thursday
0          Isaacs         bar    148.2     Friday

## Eliminar columnes i files

Molts cops tendrem la necessitat d'eliminar informació que no ens és interessant.

### Columnes

Tenim el mètode `drop` que ens proporciona un nou _dataFrame_ sense la(es) fila(es) o la(les) columna(es) que seleccionem.
Si volem eliminar columnes podem fer-ho especificant la llista de columnes al paràmetre `columns` de la següent manera:

In [19]:
df_no_michelin = df3.drop(columns=["Michelin_Star"]) # Eliminamos la última columna que hemos creado
df_no_michelin

             name        type  AvgBill        Day  AvgHalfBill
0  Foreign Cinema  Restaurant    289.0     Monday       144.50
1       Liho Liho  Restaurant    224.0    Tuesday       112.00
2        500 Club         bar     80.5  Wednesday        40.25
3      The Square         bar     25.3   Thursday        12.65

Anem a veure com ha quedat el dataframe del qual hem eliminat una columna:

In [20]:
df3

             name        type  AvgBill        Day  AvgHalfBill  Michelin_Star
0  Foreign Cinema  Restaurant    289.0     Monday       144.50              3
1       Liho Liho  Restaurant    224.0    Tuesday       112.00              3
2        500 Club         bar     80.5  Wednesday        40.25              3
3      The Square         bar     25.3   Thursday        12.65              3

### Files
Per poder eliminar files, fem servir la mateixa funció `drop`, aquesta vegada sense el paràmetre que hem fet servir anteriorment, simplement indiquem els índexs a eliminar:

In [21]:
df_less_rows = df_no_michelin.drop([1,3])
df_less_rows

             name        type  AvgBill        Day  AvgHalfBill
0  Foreign Cinema  Restaurant    289.0     Monday       144.50
2        500 Club         bar     80.5  Wednesday        40.25